.Navbar{
    
    align-items: center;
    display: flex;
    justify-content:space-between;
    padding: 12px 30px;
    border-bottom: 1px solid rgb(185, 184, 184);   


}
.NavLeft{
    
    font-weight: 600;
    font-size: 20px;
    color: blue;

}

.NavRight{
    display: flex;

}

.NavImg{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;    
    object-fit: cover;
}

.lowerComponent{
    display: flex;

}
.chatbox{
    width: 30%;
    height: 88vh;
    /* border: 1px solid red; */
    
    border-right: 1px solid rgb(185, 184, 184);
   
}

.search{
    
}